header, main, footer {
    border: 1px solid black;
    background-color:beige;
}


table, th, td{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px, solid black
}
table {
    border-collapse: collapse;
}

h1 {
    text-align: center;
}